# Core ML and Deep Learning (Managed in Dockerfile for CPU optimization)
timm

# Video & Image Processing
opencv-python-headless
numpy
Pillow

# Audio Processing
librosa
moviepy
scipy
soundfile
PyYAML

# Web Framework and API
fastapi
uvicorn
python-multipart

# Utilities & Metrics
scikit-learn
tqdm

